name: hello_flutter_codemagic
description: A simple Hello World app for Codemagic iOS build demo.
publish_to: "none"

environment:
  sdk: ">=2.19.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
